/* 
 * 
 * Grid component classes (only applied if grid is supported)
 *
 * NOTE: reset margins and widths here (not using utilities) so these resets
 * only kick in if the grid layout is supported
 * 
 */

@supports (display: grid) {

 /* 
  * 
  * Utilities
  *
  */

  .span-2 { grid-column: span 2 }
  .span-3 { grid-column: span 3 }
  
 /* 
  * 
  * Home > Hero
  *
  */

  .home-hero-grid {
    @media (--lg) {

      /* Grid layout */
      display: grid;
      grid-template-columns: 4fr 6fr;
      align-items: end;

      /* Reset margins & widths */
      & > div > div { @apply .mb0 }
    }
  }

}