/*

Font-face declarations

TODO: make the path to the fonts directory `../../../fonts/font-files.woff`

*/

/* news-cycle-regular - latin-ext_latin */
/* @font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: local('News Cycle'), local('NewsCycle'),
       url('../../../fonts/news-cycle-v14-latin-ext_latin-regular.woff2') format('woff2'),
       url('../../../fonts/news-cycle-v14-latin-ext_latin-regular.woff') format('woff');
} */

